<!DOCTYPE html>
<html lang="en">
<head>
<title>Diplomacy</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <header>
    <% if current_user %>
      Signed in as <%= current_user.name %>!
    <%= link_to "Sign out", signout_path %>
  <% else %>
      <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
  </header>
  <h1>Diplomacy <%= content_tag :small, @title if @title %></h1>
  <%= render 'shared/flash' unless flash.empty? %>
  <%= yield %>
</div>

</body>
</html>
